<h1>My Tasks</h1>
<%= form_for(@task) do |f|%>
<div class="field">
  <%= f.textfield :title, placeholder: "Tasks"%>
  </div>
  <div class="field">
    <%= f.textfield :title, placeholder: "Tasks" %>
  </div>
<%end%>
